.navbar {
  background: #117c78;
  position: sticky;
  top:0;
}
.nav-link {
  color: #ffffff !important;
}
.nav-link:hover {
  color:rgb(0, 0, 0) !important ;
  background:#ffffff;
  transition: all 0.5s ease-in-out;
}