body {
  background: url("./Assets/Apod_back.jpg");
  background-attachment: fixed;
  font-family: "Scheherazade New", serif;
  font-size: 20px;
  color: #ffffff;
}
input:focus{
  outline: none;
}
.highlight{
  font-style: italic;
  font-weight: 700;
  color: rgb(253, 253, 0);
}
/* navbar */
.navbar {
  background: #2439688c;
  z-index: 99;
  position: sticky;
  top: 0;
}
.scroll {
  background: #342f61 !important;
}
.nav-link {
  color: #ffffff !important;
}
.nav-link:hover {
  color: rgb(255, 255, 255) !important ;
  background: #352a939e;
  transition: all 0.5s ease-in-out;
}

/* APOD container */
.apod-desc {
  font-weight: 500;
}
@media screen and (max-width: 400px) {
  .iframe {
    width: 100%;
  }
}

/* Person in space div */
.PISdiv{
  margin: 5%;
  padding: 1%;
  background:linear-gradient(#adadad1a,#4e4d4dad);
  text-align: center;
  color: #fff;
  font-size: 24px;
  box-shadow: 2px 2px 5px #342f61;
}
.PISdiv h2{
  color: #3fd3ff;
  font-weight: 500;
}
/* iss data */
.issdata{
  font-size: 24px;
}

