body {
  background: url("./Assets/Apod_back.jpg");
  background-attachment: fixed;
  font-family: "Scheherazade New", serif;
  font-size: 20px;
  color: #ffffff;
}
/* navbar */
.navbar {
  background: #2439688c;
  z-index: 99;
  position: sticky;
  top: 0;
}
.scroll {
  background: #342f61 !important;
}
.nav-link {
  color: #ffffff !important;
}
.nav-link:hover {
  color: rgb(255, 255, 255) !important ;
  background: #352a939e;
  transition: all 0.5s ease-in-out;
}

/* APOD container */
.apod-desc {
  font-weight: 500;
}
@media screen and (max-width: 400px) {
  .iframe {
    width: 100%;
  }
}

